@model EdpsProjectManagement.Web.Models.BusinessEntities.ManPowerModel

@{
    ViewBag.Title= "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="m_title_box">
    <ol>
        <li data-id="Details">
            <a href="#">ManPower_Details</a><i class="icon-arrowright"></i>
        </li>
        <li data-id="Details">Details</li>
    </ol>
</div>
<div class="panel panel-default">
    <div class="panel-body">
			<div class="row">
			    <div class="col-md-6">
			        <div class="form-group">
			            <label for="Name" class="col-md-4 from-title">Name</label>
			            <div class="col-md-8 from-cont">
			                @Html.DisplayFor(model => model.Name)
			            </div>
			        </div>
			    </div>
			    <div class="col-md-6">
			        <div class="form-group">
			            <label class="col-md-4 from-title">Description</label>
			            <div class="col-md-8 from-cont">
			                @Html.DisplayFor(model => model.Description)
			            </div>
			        </div>
			    </div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="col-sm-4 from-title">AvailableHours</label>
						<div class="col-md-8 from-cont">
							@Html.DisplayFor(model => model.AvailableHours)
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="col-sm-4 from-title">EndDate</label>
						<div class="col-md-8 from-cont">
							@(this.Model.EndDate == DateTime.MinValue ? String.Empty : this.Model.EndDate.ToShortDateString())
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="col-sm-4 from-title">StartDate</label>
						<div class="col-md-8 from-cont">
							@(this.Model.StartDate == DateTime.MinValue ? String.Empty : this.Model.StartDate.ToShortDateString())
						</div>
					</div>
				</div>
			</div>
			<div class="width_100 text-center m_left">
			    @Html.ActionLink("Back to List", "Index",null,new { @class="m_btn m_back"})
			</div>
		</div>
	</div>
