@model EdpsProjectManagement.Web.Models.BusinessEntities.TaskModel

@{
    ViewBag.Title= "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="m_title_box">
    <ol>
        <li data-id="Details">
            <a href="#">Task_Details</a><i class="icon-arrowright"></i>
        </li>
        <li data-id="Details">Details</li>
    </ol>
</div>
<div class="panel panel-default">
    <div class="panel-body">
			<div class="row">
			    <div class="col-md-6">
			        <div class="form-group">
			            <label for="Name" class="col-md-4 from-title">Name</label>
			            <div class="col-md-8 from-cont">
			                @Html.DisplayFor(model => model.Name)
			            </div>
			        </div>
			    </div>
			    <div class="col-md-6">
			        <div class="form-group">
			            <label class="col-md-4 from-title">Description</label>
			            <div class="col-md-8 from-cont">
			                @Html.DisplayFor(model => model.Description)
			            </div>
			        </div>
			    </div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="col-sm-4 from-title">Iteration</label>
						<div class="col-md-8 from-cont">
							@Html.DisplayFor(model => model.Iteration.Name)
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="col-sm-4 from-title">Repository</label>
						<div class="col-md-8 from-cont">
							@Html.DisplayFor(model => model.Repository.Name)
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="col-sm-4 from-title">ActualHours</label>
						<div class="col-md-8 from-cont">
							@Html.DisplayFor(model => model.ActualHours)
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="col-sm-4 from-title">Assignee</label>
						<div class="col-md-8 from-cont">
							@Html.DisplayFor(model => model.Assignee)
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="col-sm-4 from-title">EstimateHours</label>
						<div class="col-md-8 from-cont">
							@Html.DisplayFor(model => model.EstimateHours)
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="col-sm-4 from-title">ImportDateTime</label>
						<div class="col-md-8 from-cont">
							@(this.Model.ImportDateTime == DateTime.MinValue ? String.Empty : this.Model.ImportDateTime.ToShortDateString())
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="col-sm-4 from-title">Label</label>
						<div class="col-md-8 from-cont">
							@Html.DisplayFor(model => model.Label)
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="col-sm-4 from-title">ReleaseTarget</label>
						<div class="col-md-8 from-cont">
							@Html.DisplayFor(model => model.ReleaseTarget)
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="col-sm-4 from-title">RemainHours</label>
						<div class="col-md-8 from-cont">
							@Html.DisplayFor(model => model.RemainHours)
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="col-sm-4 from-title">Status</label>
						<div class="col-md-8 from-cont">
							@Html.DisplayFor(model => model.Status)
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="col-sm-4 from-title">UniqueLink</label>
						<div class="col-md-8 from-cont">
							@Html.DisplayFor(model => model.UniqueLink)
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="col-sm-4 from-title">WorkDate</label>
						<div class="col-md-8 from-cont">
							@(this.Model.WorkDate == DateTime.MinValue ? String.Empty : this.Model.WorkDate.ToShortDateString())
						</div>
					</div>
				</div>
			</div>
			<div class="width_100 text-center m_left">
			    @Html.ActionLink("Back to List", "Index",null,new { @class="m_btn m_back"})
			</div>
		</div>
	</div>
