<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />    <link rel="stylesheet" href="~/lib/jquery-ui-1.12.1/jquery-ui.min.css" />    <link rel="stylesheet" href="~/lib/DateTimePicker/jquery.datetimepicker.css" />    <link rel="stylesheet" href="~/css/fonts-styles.css" />    <link rel="stylesheet" href="~/css/styles.css" />    <link rel="stylesheet" href="~/css/common.css" />    <link rel="stylesheet" href="~/css/custom-style.css" />    <script src="~/lib/jquery/dist/jquery.js"></script>    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>    <script src="~/lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>    <script src="~/lib/microsoft.jquery.unobtrusive.ajax/Scripts/jquery.unobtrusive-ajax.min.js"></script>    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>    <script src="~/js/site.js" asp-append-version="true"></script>	  <script src="~/js/DateTimePicker/jquery.datetimepicker.js" asp-append-version="true"> </script>    <script src="~/js/dateFormat.js" asp-append-version="true"></script>    <script src="~/js/PagerForHtmlHelper.js" asp-append-version="true"></script>    <script src="~/js/scripts.js" asp-append-version="true"></script>    <script src="~/js/common.js" asp-append-version="true"></script>@RenderSection("Links", false)
	
	<script>
	    $(function () {
	        metaShare.basic.prototype.clickLight();
		        changeSize();
		        $(window)
		            .resize(function() {
		                changeSize();
		            });
		        function changeSize() {
		            var height = $("#nav").height();
	                if (document.body.clientWidth < 768) {
	                    $("#main-menu").css('margin-top', height - 17);
	                } else {
	                    $("#main-menu").css('margin-top', 0);
	                }
	            }
	    });
	</script>
	
</head>
<body>
<div id="wrapper" class="m_deepblue">
    <nav class="navbar navbar-default top-navbar" role="navigation" >
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@(this.Url.Action("Index", new { Controller="Workspace",area=""}))">
                <img src="/images/logo.png" class="m_left" />&nbsp;
                <span>EdpsProjectManagement</span>
            </a>
            <div id="sideNav">
                <i class="icon-right-arrow"></i>
            </div>
        </div>

               <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                </li>
            </ul>

    </nav>
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu" style="margin-bottom: 20px;">
		        <li data-id="BusinessEntities">
		            <a>BusinessEntities</a><span class="icon-arrowdown arrow"></span>
		            <ul class="nav collapse" >
	                    <li data-id="Iteration">@Html.ActionLink("Iteration", "Index", new { Controller="Iteration",area="EdpsProjectManagement.Web.Views.BusinessEntities"})</li>
	                    <li data-id="ManPower">@Html.ActionLink("ManPower", "Index", new { Controller="ManPower",area="EdpsProjectManagement.Web.Views.BusinessEntities"})</li>
	                    <li data-id="Project">@Html.ActionLink("Project", "Index", new { Controller="Project",area="EdpsProjectManagement.Web.Views.BusinessEntities"})</li>
	                    <li data-id="Repository">@Html.ActionLink("Repository", "Index", new { Controller="Repository",area="EdpsProjectManagement.Web.Views.BusinessEntities"})</li>
	                    <li data-id="Task">@Html.ActionLink("Task", "Index", new { Controller="Task",area="EdpsProjectManagement.Web.Views.BusinessEntities"})</li>
		            </ul>
		        </li>
            </ul>
        </div>
    </nav>
    <div id="page-wrapper">
        <div id="page-inner" style="margin:0;">
            @RenderBody()
            @RenderSection("scripts", required: false)
            <footer>
                <p></p>
            </footer>
       </div>
    </div>
</div>
</body>
</html>
